DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM pg_roles WHERE rolname = '$POSTGRES_USER') THEN
        CREATE ROLE $POSTGRES_USER WITH LOGIN PASSWORD '$POSTGRES_PASSWORD' CREATEDB;
    END IF;
EXCEPTION
    WHEN DUPLICATE_OBJECT THEN
        -- Do nothing, role already exists
END;
$$;

-- Grant all privileges to the user for the DB
GRANT ALL PRIVILEGES ON DATABASE $POSTGRES_DB TO $POSTGRES_USER;
